version: 2.1


jobs:
  dummy:
    machine: true
    steps:
      - when:
          condition: $CIRCLE_BRANCH
          steps:
            - run: echo "$CIRCLE_BRANCH"
      - when:
          condition: $CIRCLE_PULL_REQUEST
          steps:
            - run: echo "$CIRCLE_SHA1"
            - run: echo "$CIRCLE_PULL_REQUEST"
      #            - run: expr length "${TRIGGER_CIRCLECI_EE_TOKEN}"
#      - run:
#          name: Trigger enterprise
#          command: |
#            curl \
#              --request POST \
#              --url https://circleci.com/api/v2/project/gh/metanerd/circleci-ee/pipeline \
#              --user ${TRIGGER_CIRCLECI_EE_TOKEN} \
#              --data parameters[external_branch]=$CIRCLE_BRANCH \
#              --data parameters[external_sha]=$CIRCLE_SHA1

workflows:
  version: 2
  other:
    jobs:
      - dummy
